:root {
  --icon-defoult-color: rgb(180, 180, 180);
  --icon-active-color: rgb(100, 100, 100);
  --link-icon-color: rgb(20, 20, 20);
  --icon-hover-color: rgb(10, 80, 160);
  --border-color: rgb(210, 210, 210);
  --accent-color: rgb(240, 170, 30);
  --background-main: rgb(255, 255, 255);
  --background-second: rgb(210, 210, 210);
  --background-hide-color: rgba(0, 0, 0, 0.5);
  --text-white: rgb(255, 255, 255);
  --red-color: rgb(255, 0, 0);

  --font-family: "Pangolin", Arial, Helvetica, sans-serif;

  --transition-function: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  font-family: var(--font-family);
  letter-spacing: 0.1em;
  background-color: var(--background-main);
}

img,
h1,
h2,
h3,
p,
ul,
li,
section {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 0;
}

*::-webkit-scrollbar-track:hover {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
}

*:hover::-webkit-scrollbar-thumb {
  background: var(--background-hide-color);
}

.icon-btn {
  border-radius: 50%;
  border: none;
  background-color: transparent;
  transition: var(--transition-function);

  & .icon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--icon-defoult-color);
    stroke: var(--icon-defoult-color);
    transition: var(--transition-function);
  }

  &:hover .icon {
    fill: var(--icon-active-color);
    stroke: var(--icon-active-color);
  }
}

.link {
  border-radius: 50%;
  text-decoration: none;
  color: inherit;
  transition: var(--transition-function);

  & .icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--link-icon-color);
    stroke: var(--link-icon-color);
    transition: var(--transition-function);
  }

  &:hover .icon {
    fill: var(--icon-hover-color);
    stroke: var(--icon-hover-color);
  }
}

.hide-video-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-hide-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-function);

  opacity: 0;

  & .icon {
    width: 50px;
    height: 50px;
    fill: var(--text-white);
    cursor: pointer;
  }
}

.cat-name {
  width: 30%;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: var(--transition-function);
  cursor: pointer;

  &:hover {
    color: var(--icon-hover-color);
  }
}

.duration {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 2;
  padding: 3px;
  border-radius: 3px;
  background-color: var(--background-hide-color);
  color: var(--text-white);
  cursor: pointer;
}

.live {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 2;
  padding: 3px;
  border-radius: 3px;
  background-color: var(--red-color);
  color: var(--text-white);
  cursor: pointer;
}

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: var(--background-main);
  box-shadow: 0px 5px 5px 0px var(--border-color);

  & .header__logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
  }

  & .header__title {
    margin-right: auto;
    font-size: 32px;
    color: var(--accent-color);
    cursor: pointer;
  }

  & .header__form {
    display: flex;
    justify-content: center;
    width: 40%;
    margin-right: auto;

    &:focus .header__input,
    &:hover .header__input {
      border: 1px solid var(--icon-active-color);
      outline: none;
    }

    &:focus .header__btn-submit,
    &:hover .header__btn-submit {
      border: 1px solid var(--icon-active-color);
    }
  }

  & .header__input {
    width: 70%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid var(--border-color);
    padding: 5px 10px;
    outline: none;
    font-size: 20px;
    &::placeholder {
      font-size: 20px;
    }
    &:focus,
    &:hover {
      border: 1px solid var(--icon-active-color);
      outline: none;
    }
  }

  & .header__btn-submit {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid var(--border-color);
    background-color: var(--background-second);
  }

  & .header__icon-glass {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    fill: var(--link-icon-color);
    stroke: var(--link-icon-color);
  }

  & .header__btn-notify {
    margin-right: 10px;
  }
}

.menu-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--accent-color);
  transition: var(--transition-function);

  & .icon {
    fill: var(--link-icon-color);
    &:hover {
      fill: var(--link-icon-color);
    }
  }

  &:hover,
  &:focus {
    background-color: var(--background-second);

    & ul.menu-list {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }

  & .menu-list {
    position: absolute;
    top: 35px;
    right: 0;
    width: 150px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--background-main);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  & .menu-item {
    display: flex;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    transition: var(--transition-function);

    &:hover,
    &:focus {
      background-color: var(--background-second);
    }

    &:last-child {
      border-top: 1px solid var(--border-color);
    }

    & .btn-log-out {
      border: none;
      background-color: transparent;
      color: var(--red-color);
      display: flex;
      align-items: center;
      gap: 5px;

      & .icon {
        fill: var(--red-color);
      }
    }

    & .link {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    & .icon {
      display: inline-flex;
      width: 20px;
      height: 20px;
    }
  }
}

.main {
  padding-top: 70px;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: repeat(4, auto);
}

.main__side-panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  padding-top: 70px;
  background-color: var(--background-second);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & .list {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;

    border-bottom: 1px solid var(--text-white);
  }

  & .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: var(--transition-function);

    &:hover {
      background-color: var(--background-hide-color);
    }
  }

  & .image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--background-main);
  }

  & .active::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    margin-right: 5px;
    background-color: var(--red-color);

    animation-name: animatePuls;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  & .links-text::selection {
    background-color: var(--accent-color);
    color: var(--text-white);
  }

  & .links {
    background-color: var(--background-hide-color);
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
  }

  & .links-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
  }
}

.categorys {
  padding: 30px;
  grid-column: 2;
  grid-row: 1;

  overflow: auto;

  & .categorys-list {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  & .btn-category {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    background-color: var(--background-second);
    font-size: 14px;
    transition: var(--transition-function);

    &.active {
      background-color: var(--accent-color);
      border: 1px solid var(--accent-color);
    }

    &:hover {
      background-color: var(--background-hide-color);
      border: 1px solid var(--background-hide-color);
    }
  }
}

.roundabout {
  width: 100%;
  display: block;
  grid-column: 2;
  grid-row: 2;

  & .roundabout__list {
    position: relative;
    width: 100%;
    margin: 30px auto 50px;
    display: flex;
  }

  & .roundabout__item {
    width: 60%;
    height: 300px;
    display: flex;
    align-items: flex-start;
    background-color: var(--background-second);

    box-shadow: 0px 5px 5px 5px var(--background-hide-color);

    &:first-child {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
      transform: scale(0.7);
    }

    &:nth-child(2) {
      position: absolute;
      top: 0;
      left: 100px;
      z-index: -1;
      transform: scale(0.9);
    }

    &:nth-child(3) {
      margin: 0 auto;
    }

    &:nth-child(4) {
      position: absolute;
      top: 0;
      right: 100px;
      z-index: -1;
      transform: scale(0.9);
    }

    &:last-child {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -2;
      transform: scale(0.7);
    }
  }

  & .video-player {
    position: relative;
    width: 70%;
    height: 100%;

    & img {
      height: 100%;
    }

    &:hover .hide-video-box {
      opacity: 1;
    }
  }

  & .description {
    width: 30%;
    padding: 20px 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  & .reactions::selection {
    background-color: var(--accent-color);
    color: var(--text-white);
  }

  & .avatar {
    width: 40px;
    display: inline-flex;
  }

  & .box-for-title {
    display: inline-block;
    width: 70%;

    & .cat-name {
      width: 100%;
    }
  }

  & .video-title {
    display: block;
    width: 70%;
    margin-bottom: 5px;
    color: inherit;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      position: absolute;
      display: block;
      width: 100px;
      padding: 5px;
      background-color: var(--background-main);
      border: 1px solid var(--border-color);
      border-radius: 5px;
      white-space: wrap;
      color: var(--icon-hover-color);
    }
  }

  & .reactions {
    width: 100%;
  }
}

.video {
  grid-column: 2;
  grid-row: 3;
  padding: 30px;

  & .video-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
  }

  & .video-player {
    position: relative;
    width: 100%;
    height: 70%;
    background-color: var(--background-main);
    border: 1px solid var(--border-color);

    & img {
      height: 100%;
    }

    &:hover .hide-video-box {
      opacity: 1;
    }
  }

  & .video-description {
    width: 100%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
  }

  & .box-for-title {
    min-width: 50px;
    max-width: 250px;
    flex: auto;
  }

  & .video-title {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    color: inherit;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      position: absolute;
      display: block;
      width: 200px;
      padding: 5px;
      background-color: var(--background-main);
      border: 1px solid var(--border-color);
      border-radius: 5px;
      white-space: wrap;
      color: var(--icon-hover-color);
    }
  }

  & .avatar {
    width: 40px;
  }

  & .icon {
    margin-left: auto;
  }
}

.footer {
  grid-column: 2;
  grid-row: 4;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 800;

  & .footer__icon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--icon-active-color);
  }
}

@media screen and (max-width: 480px) {
  .header {
    height: 200px;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    & .header__title {
      margin-right: 0;
    }

    & .header__form {
      width: 100%;
      margin-right: 0;
    }
  }

  .main {
    width: 100vw;
    padding-top: 200px;
    grid-template-columns: 90px auto;
  }

  .main__side-panel {
    width: 90px;
    padding-top: 200px;

    & .image-box {
      width: 40px;
      height: 40px;
    }

    & .links {
      display: none;
    }
    & .cat-name,
    & .follovers {
      display: none;
    }
  }

  .roundabout {
    & .roundabout__item {
      width: 80%;
      height: 150px;
      & .description {
        font-size: 10px;
      }

      & .reactions {
        display: none;
      }

      &:first-child {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
        transform: scale(0.7);
      }

      &:nth-child(2) {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transform: scale(0.9);
      }

      &:nth-child(3) {
        margin: 0 auto;
      }

      &:nth-child(4) {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        transform: scale(0.9);
      }

      &:last-child {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -2;
        transform: scale(0.7);
      }
    }
  }

  .video {
    & .video-list {
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 740px) {
  .main {
    grid-template-columns: 90px auto;
  }

  .main__side-panel {
    width: 90px;
    padding-top: 70px;

    & .image-box {
      width: 40px;
      height: 40px;
    }

    & .links {
      display: none;
    }

    & .cat-name,
    & .follovers {
      display: none;
    }
  }

  .roundabout {
    & .roundabout__item {
      height: 150px;

      & .description {
        font-size: 10px;
      }
    }
  }

  .video {
    & .video-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@keyframes animatePuls {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}
