:root {
  --icon-defoult-color: rgb(120, 120, 120);
  --icon-active-color: rgb(40, 40, 40);
  --border-color: rgb(120, 120, 120);
  --accent-color: rgb(240, 170, 30);

  --font-family: "Pangolin", Arial, Helvetica, sans-serif;

  --transition-function: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  font-family: var(--font-family);
}

img,
h1,
h2,
h3,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.icon-btn {
  border-radius: 50%;
  border: none;
  background-color: transparent;
  transition: var(--transition-function);

  & .icon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--icon-defoult-color);
    stroke: var(--icon-defoult-color);
    transition: var(--transition-function);
  }

  &:hover {
    background-color: var(--accent-color);
    & .icon {
      fill: var(--icon-active-color);
      stroke: var(--icon-active-color);
    }
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 5px 5px 0px var(--border-color);
}

.header__logo {
  height: 30px;
  margin-right: 10px;
}

.header__title {
  margin-right: auto;
  font-size: 32px;
  color: var(--accent-color);
}

.header__form {
  display: flex;
  justify-content: center;
  width: 40%;
  margin-right: auto;
}

.header__input {
  width: 70%;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  padding: 5px 10px;
  overflow: auto;
  font-size: 20px;
  &::placeholder {
    font-size: 20px;
  }
}

.header__btn-submit {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid var(--border-color);
  background-color: grey;
  margin-left: -10px;
  margin-right: 10px;
}

.header__icon-glass {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  fill: var(--icon-active-color);
  stroke: var(--icon-active-color);
}

.header__btn-notify {
  margin-right: 10px;
}

.main {
  padding: 80px 0 0 0;
}

.footer {
}

@media screen and (max-width: 500px) {
  .header {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    height: 170px;
  }
  .header__title {
    margin: 0;
  }
  .header__form {
    width: 100%;
    margin: 0;
  }
  .main {
    padding: 200px 0 0 0;
  }
}
